<ion-view view-title="Record">
    <ion-content class="padding">

    </ion-content>

    <!--Footer with buttons-->
    <ion-footer-bar align-title="center" class="bar-stable">

        <div class="buttons vbs-record-buttons">
            <button class="button button-icon" ng-click="toggleRecord()" ng-class="isRecord ? 'button-stop-record' : ''">
                <i class="icon ion-record"></i>
            </button>
            <button class="button" ng-click="playRecord()">
                Play
            </button>
        </div>

    </ion-footer-bar>

</ion-view>